include src/cyllama/llama/*.pxd
include src/cyllama/llama/*.pyx
include src/cyllama/llama/*.pxi
include src/cyllama/llama/*.cpp
include src/cyllama/llama/*.h
include src/cyllama/llama/server/*.pxd
include src/cyllama/llama/server/*.pyx
include src/cyllama/llama/server/*.cpp
include src/cyllama/llama/server/*.c
include src/cyllama/llama/server/*.h
include src/cyllama/whisper/*.pxd
include src/cyllama/whisper/*.pyx
include src/cyllama/whisper/*.pxi
include src/cyllama/whisper/*.cpp
include src/cyllama/whisper/*.h
recursive-include thirdparty/llama.cpp/include *.h *.hpp
recursive-include thirdparty/llama.cpp/lib *.a
recursive-include thirdparty/whisper.cpp/include *.h *.hpp
recursive-include thirdparty/whisper.cpp/lib *.a
recursive-include include *.h *.hpp
