[project]
name = "cyllama"
version = "0.1.9"
description = "A cython wrapper of llama.cpp"
readme = "README.md"
authors = [
    { name = "Shakeeb Alireza", email = "me@example.org" }
]
requires-python = ">=3.8"
dependencies = []

[project.optional-dependencies]
test = ['pytest', 'pytest-cov']

[build-system]
requires = ["setuptools >= 61", "cython"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
include-package-data = true

[tool.pytest.ini_options]
pythonpath = ["src"]
testpaths = ["tests"]
markers = [
    "integration: marks test as an integration test (deselect with '-m \"not integration\"')",
    "slow: marks tests as slow (deselect with '-m \"not slow\"')"
]

[dependency-groups]
dev = [
    "cython>=3.1.3",
    "setuptools>=75.3.2",
    "pytest>=8.3.5",
    "pytest-cov>=5.0.0",
    "pytest-memray>=1.8.0",
    "pytest-mock>=3.14.1",
    "auditwheel>=6.1.0 ; sys_platform == 'linux'",
    "delocate>=0.12.0 ; sys_platform == 'darwin'",
    "delvewheel>=1.10.0 ; sys_platform == 'win32'",
    "ruff>=0.12.12",
    "numpy>=1.24.4",
    "requests>=2.32.4",
]
# addopts = "--cov=cyllama --cov-report html"
# addopts = "-ra -q"
